/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#pos {
  font-size: 0.8em;
  color: green;
  background-color: black;
  left: 0;
  top: 0;
  font-family: mono;
  width: 552px;
  padding: 2px 4px 2px 4px;
}
#map {
  height: 50vh;
  width: 560px;
}
/* Optional: Makes the sample page fill the window. */
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
